**/.npm/
**/.npm/_logs/
**/.pnpm-store/
**/.pnpm/
**/.yarn/
**/.yarn/cache/
**/bower_components/
**/node_modules/
.npmignore
.npmrc
.npmrc.*
.yarnrc
.yarnrc.yml
npm-debug.log*
pnpm-debug.log*
pnpm-workspace.yaml
yarn-error.log
**/.nyc_output/
**/.output/
**/build/
**/dist/
**/out/
**/.cache/
**/.turbo/
*.cache
*.temp
*.tmp
.node_repl_history
**/logs/
*.log
*.log.*