NODE_ENV=development
PORT=3001
SALT_ROUNDS=10
LOG_LEVEL=debug
JWT_SECRET= # node -e "const crypto = require('crypto'); console.log(crypto.randomBytes(64).toString('hex'));"
JWT_EXPIRES_IN=86400 # 86400 segundos = 24 horas
ALLOWED_ORIGINS=http://localhost:3000,https://frontend.deploy.com
DATABASE_URL="postgresql://user:password@localhost:5432/flycostsdb"